.pages-fbla {

  section.video-banner {
    position: relative;
    height: 70vh;
    width: 100%;


    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    .overlay {
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.42);
    }

    .brand-banner {
      width: 100%;
      height: 246px;
      position: absolute;
      background-image: url('FBLA-Banner_Blue.jpg');
      bottom: -245px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;

      img {
        position: relative;
        top: -113px;
        left: 45px;
      }

      h2 {
        position: relative;
        top: -188px;
        text-align: center;
        font-size: 30px;
        line-height: 1.2;
        width: 100%;
        font-size: 36px;
        letter-spacing: 4px;
        font-family: Bebas Neue, sans-serif;
        color: white;
      }
    }
  }

  .brand-banner {
    width: 100%;
    height: 246px;
    background-image: url('FBLA-Banner_Blue.jpg');
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    h2 {
      margin-top: 100px;
      text-align: center;
      font-size: 30px;
      line-height: 1.2;
      width: 100%;
      font-size: 36px;
      letter-spacing: 4px;
      font-family: Bebas Neue, sans-serif;
      color: white;
    }

    .flag {
      height: 50px;
      position: relative;
      top: 12px;
    }
}

  section.rundown {
    position: relative;
    top: 245px;
    margin-bottom: 245px;
    min-height: 58vh;
    width: 100%;
    background-color: #d2d5e5;

    .panels {
      display: flex;
      flex-wrap: wrap;
      padding: 125px 50px 100px;
      justify-content: center;

      .panel {
        background-color: white;
        width: calc(33% - 30px);
        min-height: 500px;
        margin: 15px;

        .title {
          padding: 50px 0;
          width: 100%;

          &.travel {
            .icon svg {
              height: 142px;
              width: 142px;
              position: relative;
              top: -23px;
            }

            h1 {
              top: -44px;
              position: relative;
            }
          }

          h1 {
            width: 100%;
            text-align: center;
            font-family: Bebas Neue, sans-serif;
            letter-spacing: 3px;
          }
          .icon {
            text-align: center;
            svg {
              width: 100px;
              height: 100px;
              margin: 0 auto;

            }

          }
        }

        .description {
          padding: 0 2.8em 3em;
          font-size: 22px;
          font-family: Open Sans, sans-serif;
          line-height: 1.6;
          letter-spacing: 0.3px;
        }
      }
    }
  }


  section.gallery {
    height: 40vh;
    padding: 50px 50px 115px;
    position: relative;
    background-color: whitesmoke;

    .gallery-modal {
      width: 100%;
      height: 100vh;
      display: none;
      position: fixed;
      top: 0; left: 0;
      display: flex;
      justify-content: center;
      opacity: 0;
      transition: opacity 750ms ease-in-out;
      pointer-events: none;

      &.show {
        display: flex;
        z-index: 8;
        opacity: 1;
        pointer-events: all;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
      }

      .close {
        position: absolute;
        width: 50px;
        height: 50px;
        right: 35px;
        top: 165px;
        z-index: 999;
        cursor: pointer;

        i {
          color: white;
          font-size: 38px;
        }
      }

      .glide-modal {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;


        .glide__slides {

          .glide__slide {
            height: auto;
            width: auto;
            display: flex;
            justify-content: center;

            img {
              width: 80vw;
              height: 80vh;
              object-fit: cover;
            }
          }
        }
      }
    }

    .glide {
      height: 100%;

      .glide__slides {
        margin: 50px 20px;

        .glide__slide {
          height: 34vh;
          width: calc(33% - 20px);
          margin: 10px;
          position: relative;
          background-color: rgba(black, 0.7);

          &:hover, &:focus {

            img, video {
              transform: scale(1.02);
            }
          }

          img, video {
            height: 100%;
            width: 100%;
          }

          i {
            position: absolute;
            margin: auto;
            top: 50%;
            left: 50%;
            right: 50%;
            bottom: 50%;
            font-size: 48px;
            color: white;
          }
        }
      }

    }
  }
}
