body.pages-privacy_policy { background-color: linen; }
section.privacy-policy {
  padding: 250px 0 100px;
  max-width: 70vw;
  margin: 0 auto;
  font-family: Open Sans, sans-serif;

  h1 {
    font-size: 41px;
    text-align: center;
  }

  p {
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 1.6;
  }
}
