<%= render partial: 'layouts/navbar' %>

<section class="video-banner">
  <%= video_tag 'fbla_banner.webm', autoplay: :autoplay, loop: :loop, muted: :muted %>

  <div class="overlay"></div>

  <div class="brand-banner">
    <%= image_tag 'FBLA-logo-only.png' %>
    <h2>
      FBLA Haiti is developing the next generation of ethical business leaders
    </h2>
  </div>
</section>

<section class="rundown">
  <div class="panels">
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
  </div>
</section>
