<%= render partial: 'layouts/navbar' %>
<section class="hero">
  <div class="overlay"></div>
  <div class="gradient"></div>
</section>

<section class="our-mission">
  <h1> Empowering Haiti's Youth </h1>

  <div class="values">
    <div class="value globalization">
      <div class="title"> Globalization</div>

      <div class="icon">
        <i class="fas fa-globe-americas"></i>
      </div>

      <div class="description">
        <p>
          We prepare our students with all the tools necessary to excel in
          the global community.<br><br>

          The trend toward the global economic village is clear, and the 21st
          century may very well become known as the century of the “global world”. <br><br>

          As a result, we provide stringent language training focusing on fluency and
          complete comprehension at writing and speaking English. All of our students
          have historicaly excelled at passing the TOEFL exam.<br><br>

          Not only through language, we have our students adopt a global mindset.
          They remain informed on the happenings in countries abroad and are educated on
          many foreign cultures.
        </p>
      </div>
    </div>

    <div class="value business-savvy">
      <div class="title"> Business-Savvy</div>

      <div class="icon">
        <i class="fas fa-briefcase"></i>
      </div>

      <div class="description">
        <p>
          As of 2019, Haiti's GDP is $14.33 billion and ranked 149th in the world.<br><br>

          Putting political, economic, health, and disaster-related reasons aside; we must do better.<br><br>

          That is why we prepare our students for the world economy and foster a
          strong sense of entrepreneurship.<br><br>

          Our students are exposed to cutting edge technologies and educated at the
          art of capital investments. By practicing paper trading, analyzing tech
          industry & startup trends, and learning practical business administration, we equip our
          students with the tools to be both the founders of tomorrow and thrive in a corporate environment.
        </p>
      </div>
    </div>

    <div class="value leadership">
      <div class="title"> Leadership</div>

      <div class="icon">
        <%= inline_svg_tag('podium.svg') %>
      </div>

      <div class="description">
        <p>
          Leaders do not fall from trees, whole societies must prioritize their
          formation and Haiti is in a desperate need of new innovative, inspiring,
          creative and modern leaders!<br><br>

          We cultivate this trait in our students, so that they may become a greater
          next-generation of Haitian leadership.<br><br>

          We have participated in Future Business Leaders of America for 10 years running,
          as well ass the National Leadership Conference. Our students become skilled
          orators, effective communicators, and adept at planning & organization.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="our-work">
  <div class="header">
    <h1>Our Work</h1>
  </div>

  <div class="grid-container">
    <div class="grid">

      <div class="grid--item grid1">
        <div class="img"></div>

        <div class="container">
        </div>
      </div>

      <div class="grid--item grid2">
        <div class="img"></div>

        <div class="container">
        </div>
      </div>

      <div class="grid--item grid3">
        <div class="img"></div>

        <div class="container">
        </div>
      </div>

      <div class="grid--item grid4">
        <div class="img"></div>

        <div class="container">
        </div>
      </div>

      <div class="grid--item grid5">
        <div class="img"></div>

        <div class="container">
        </div>
      </div>

      <div class="grid--item grid6">
        <div class="img"></div>

        <div class="container">
        </div>
      </div>

      <div class="grid--item grid7">
        <div class="img"></div>

        <div class="container">
        </div>
      </div>
    </div>
  </div>

  <div class="breakdown">
    <div class="panel fbla-work">
      <div class="panel-title">
        <h1>FBLA Chapter Haiti</h1>
      </div>

      <div class="content">
        <div class="logo">
          <%= image_tag 'FBLA-logo.png' %>
        </div>

        <div class="description">
          <p>
            <b>Future Business Leaders of America-Phi Beta Lambda, Inc. (FBLA-PBL)</b>
            is the largest career student business organization in the world.
            Each year, FBLA-PBL helps over 230,000 members prepare for careers
            in business.<br><br>

            For the past 10 years, we have been the sole school representing the
            country of Haiti. All necessary US visas, hotel
            reservations, and airfare are secured on the behalf our participants.<br><br>

            This is far beyond a simple trip abroad or tourism, the impact on our
            students leaves a lasting mark on their work ethics, career outlooks,
            and ambitions.<br><br>

            Our students participate in competitive business-related events and come
            away with a stronger sense of the skills necessary to succeed in modern
            business.<br><br>

            In 20 years of educating in the NYC public schools, instituting
            FBLA in many high schools, I've seen first-hand the impact of
            the program on building cross-cultural experience, networking,
            internships, volunteering, student performance, self-reliance,
            passion projects and collegiate preparation.<br><br>
          </p>
        </div>
      </div>
    </div>

    <div class="panel icdh">
      <div class="panel-title">
        <h1>ICDH</h1>
      </div>

      <div class="content">
        <div class="logo">
          <%= image_tag 'icdh-logo.png' %>
        </div>

        <div class="description">
          <p>
            <b>Institution Chrétienne d'Haïti</b> is a K-12 school located in Carrefour
            since 2000. Our curriculum offers musical arts, science and math. Our
            languages courses span from Haitian Creole, French, English, Spanish,
            and Mandarin Chinese.<br><br>

            In 2011, our school boasted a 100% percentage of success
            in Haitian state examinations at all levels. That level of excellence
            persists, as we wish to excel on an international scale.<br><br>

            Our school acts as a pillar in our community and commonly participates
            in scholastic events with neighboring schools and colleges.<br><br>

            Beyond K-12, our continuing education programs for learning languages
            and professional development are highly lauded. While we often train
            our own staff, the program is freely available to professionals from
            other schools. Raising the bar for education in Haiti is our goal,
            to that end we share our knowledge and expertise to all educators we can.<br><br>

            The American public schools are supported by local, state,
            federal governments and businesses. In Haiti, our establishment is
            supported solely by our non-profit organization.
          </p>
        </div>
      </div>

    </div>
  </div>

</section>
