<%= render partial: 'layouts/navbar' %>

<section class="donation-success">
  <div class="overlay"></div>

  <div class=thanks-panel>
    <h1>Thank You!</h1>

    <p>
      Your contribution will enable us to continue to work towards a brighter
      future for Haiti!
    </p>
  </div>
</section>
