.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  z-index: 99;

  .logo {
    img {
      width: 150px;
      position: relative;
      left: 20px;
      top: -14px;
    }
  }

  .links {
    font-family: Ubuntu;
    margin-top: 45px;
    margin-left: auto;
    margin-right: 4vw;
    z-index: 99;

    a {
      text-transform: uppercase;
      color: white;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.4px;
      text-decoration: none;
      padding:  0 1vw;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .donate {
    margin-top: 36px;

    .donate.button {
      --pwa-underline: wheat;
      text-decoration: none;
      margin-top: 0;
      margin-right: 25px;
      padding: 10px 28px !important;
      background-color: #F87B5E;
      font-family: Ubuntu;
      color: white;
      font-weight: 500;
      letter-spacing: 0.3px;
    }
  }
}
.slant {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1200px;
  z-index: 9;
  pointer-events: none;

  background: linear-gradient(-198deg, #ffa303 11%, transparent 10%);
}
