<div class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>

  <div class="links">
    <%= link_to "Our School", our_school_path %>
    <%= link_to "FBLA", fbla_path %>
    <a href="#"> About Us </a>
  </div>

  <div class="donate">
    <a href="#" class="donate button pwa-element pwa-borders-borderBottom-reveal"> Donate </a>
  </div>

</div>
<div class="slant"></div>
